[CONFIG]
#Coordinates string of area. First and last coordinate set must be equal. Format:Latitute and longitude separated by spaces and coordinate pairs separated by , symbol
Area = 
DiscordQ=WEBHOOK_URL_FIELD_RESEARCH
DiscordR=WEBHOOK_URL_ROCKET_LEADERS
Areaname=NAME_OF_TEMP_AREA_FILE

[POKEMON]
#dex_number= (delete this text if you want all pokemon) accepts 3 digit Pokedex numbers in any order
