[CONFIG]
DiscordQ=WEBHOOK_URL_FIELD_RESEARCH
DiscordR=WEBHOOK_URL_ROCKET_LEADERS
Author=POSTING_AUTHOR_NAME
AuthorIMG=https://i.imgur.com/DDZEOj7.png
Areaname=NAME_OF_TEMP_AREA_FILE

#Emojis and formatting of the post
use_emoji=true
use_slim_name=false
use_webhook_name=false

#Coordinates string of area. First and last coordinate set must be equal. Format:Latitute and longitude separated by spaces and coordinate pairs separated by , symbol
Area = COORDINATES_OF_AREA

[DATABASE]
MAD_db_host=HOST_ADRESS_HERE
db_name=DB_NAME_HERE
db_user=DB_USER_HERE
db_pass=DB_PASS_HERE
port=3306

[ITEMS]
poke_ball=false
great_ball=false
ultra_ball=false
potion=false
super_potion=false
hyper_potion=false
max_potion=true
revive=false
max_revive=true
razz_berry=false
golden_razz_berry=true
pinap_berry=false
silver_pinap_berry=true
nanab_berry=false
dragon_scale=true
kings_rock=true
metal_coat=true
sun_stone=true
up_grade=true
shinnoh_stone=true
unova_stone=true
fast_tm=true
charged_tm=true
rare_candy=true
glacial_lure=true
mossy_lure=true
magnetic_lure=true
mega_energy=true
ar_task=true
stardust=1000
encounters=true

[POKEMON]
dex_number= (delete this text if you want all pokemon) accepts 3 digit Pokedex numbers in any order seprated by a comma. example 001,025,125

[AD]
Ad_Title = Pokemon Master
Ad_Body = These Quests Brought to you by the Pomemon Masters [Please donate to get cool stuff](http://example.com)
Ad_Thumbnail = https://i.imgur.com/DDZEOj7.png
